<html>
  <head>
    <title>Simple Streamer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      function stream(id, mime) {
        var src_ = "{{video_route}}/" + id;
        var source_ = '<source src="' + src_ +'" type="' + mime +'" />';
        var html_ = '<video width="800" height="400" controls>' + source_ + '</video>' ;
        $("#divVideo").html(html_);
      }
    </script>
  </head>
  <h1>
    Simple Streamer: {{time}}
  </h1>
  <a href="/magic">View as a grid!</a>
  <ul>
    {% for vid in videos %}
    <li><a href="#" onclick="stream({{vid[1]}}, '{{vid[2]}}')">{{vid[1]}} - {{vid[0]}}</a></li>
    {% endfor %}
  </ul>
  <div id="divVideo">
    <video
     width="800"
     height="400"
     controls
     >
      <source src="{{video_route}}/{{videos[0][1]}}" type="{{videos[0][2]}}" />
    </video>
  </div>
</html>